/* paginas */
body{
background: #f9f9f9;
}

.container{
    font-family: 'Lato', sans-serif;
}

.box{
    width: 940px;
    margin: 0px auto;
}

/* cabeçalho */
.imagem-cabecalho{
    background: #c2d0e7;
}
.logo{
    margin: auto;
    display: block;
}
.imagem-cabecalho img{
    width: 150px;
}

/* menu */
menu nav{
    background: rgb(17, 17, 17);
    padding: 12px;
}
  /* espeço menu */
.menu-navegacao li{
    display: inline;
    margin-left: 10px;   
}
  /* letras */
.menu-navegacao a{
    color:#f9f9f9;
    text-decoration: none;
    opacity: 50%;
}

.menu-navegacao a:hover{
    opacity: 100%;
}

.menu-navegacao li:hover{
    background: rgb(27, 27, 27);
    padding: 10px 0px;
    border-radius: 10px;
}

/* sobre nos */
.sobre-nos{
    text-align: justify;
    margin-top: 30px;
}

.caixa-sobre-nos{
    display: inline;
}

.imagem-sobre-nos{
    margin-top: 30px;
    width: 200px;
    float:left;
    margin-left: 50px;
    opacity: 90%;
    transition: 5ms;
    border-radius: 50px;
}

.imagem-sobre-nos:hover{
    opacity: 100%;
}

.container h1{
    color: #7cafdc;
    font-size: 2em;
    font-weight: bold;
}

.sobre-nos-texto{
    margin-top: 80px;
    padding-left: 30%;
}

.sobre-nos-texto:before{
    content: "💿";
}

.destaque-sobre-nos{
    color: #7cafdc;
    font-weight: bold;
    text-decoration: none;
}
.destaque-sobre-nos:hover{
    color: #6892b8;
    text-decoration:underline;
}

/* mapas */
.h1-mapas{
    clear: left;
    margin-top: 80px;
}

.mapa1,.mapa2,.mapa3{
    width: 33.33%;
    float: left;
    margin-top: 30px;
}
.container iframe{
    text-align: center;
    margin-top: 20px;
}
.container h2{
    font-weight: bolder;
    color: #6892b8;
}

h2:before{
    content: "💿";
}